<div class="container my-5 ">
    <%= render partial: 'sent_item_modal' %>
    <input type="text" id="detailSearch">
    <table class="table table-hover" id="itemsLogTable">
        <thead>
            <tr>
                <th></th>
                <td>Items</td>
                <td>Type</td>
                <td>Date</td>
            </tr>
        </thead>
    </table>
</div>


<!-- <%= render partial: 'user_selection' %> -->

