<html>
    <head>

        <meta charset="UTF-8">
        <title>Item</title>
        
    </head>
    <body>
        <div id="main">
            <div class="openSidenav" onclick="openNavOnCondition()">
                <i>Open Sidenav</i>
            </div>
            <div class="row">
                <div class="side">
                    <h3>SLAVE article</h3>
                    <div class="fakeimg">

                    </div>
                </div>

                <div class="master">
                    <h2>MASTER article</h2>
                    <div class="fakeimg">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>