<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Heading</h2>
            <h5>Description</h5>
            <div class="fakeimg" style="height: 200px;"></div>
            <p>Some title.</p>
            <p>some text that is longer than usual and covers more than two lines so the words wrap and it looks
                ok.</p>
        </div>
        <div class="card">
            <h2>Heading</h2>
            <h5>Description</h5>
            <div class="fakeimg" style="height: 200px;"></div>
            <p>Some title.</p>
            <p>some text that is longer than usual and covers more than two lines
                so the words wrap and it looks ok.</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">
                <p>Image</p>
            </div>
            <div class="fakeimg">
                <p>Image</p>
            </div>
            <div class="fakeimg">
                <p>Image</p>
            </div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
</div>
