
<div>
    <div class="openSidenav" onclick="navHandler()">
        <i>Open Sidenav</i>
    </div>
    <img src= <%=@google_profile_img%> alt="" srcset="">
    <div class="row">
        <div class="side">
            <h3>SLAVE article</h3>
            <div class="fakeimg"></div>
        </div>
            <div class="master">
            <h2>MASTER article</h2>
            <div class="fakeimg"></div>
        </div>
    </div>
</div>
