<div class="container my-5 ">
    <%= render partial: 'sent_item_modal' %>
    <div class="form-group">    
        <input type="text" class="form-control" id="detailSearch" placeholder="Search">
    </div>
    <table class="table table-hover" id="itemsLogTable">
        <thead>
            <tr>
                <th></th>
                <th>Items</th>
                <th>Type</th>
                <th>Creator</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
</div>


<!-- <%= render partial: 'user_selection' %> -->

