<h1>All Offices</h1>

<ul id="offices">
  <% @offices.each do |office| %>
    <li>
      <%=office.values_to_s %>
      <%= link_to 'Edit', edit_office_path(office) %>
      <%= link_to 'Delete', office_path(office), method: :delete, data: {confirm: 'Are you sure you want to delete this record?'} %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add new office', new_office_path %>