

    <div class="templateEditWrapper">
        <div class="templateEditForm">
            <%= render partial: 'template_form' %>
        </div>
        <div class="sidebarFields">
            <div class="btn" id="toggleFieldsSidebar"><i class="fas fa-chevron-left"></i></div>
            <%= render partial: 'template_fields' %>
        </div>
    </div>






