<h1>All Active Directory Users</h1>

<div class="ad-users-index-content">
    <%= render partial: 'ad_users_table' %>
</div>

<button class="submit-button" id="users-select">Select Users</button>
<button class="submit-button" id="users-clear">Deselect all Users</button>