<div class="modal fade" id="stagingModal" tabindex="-1" role="dialog" aria-labelledby="stagingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stagingModalLabel">Mail Staging Area</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sorting:
        <div class="d-flex">
          <span class="pr-1">Subject</span>
          <div class="custom-control custom-switch d-flex">
            <input type="checkbox" class="custom-control-input" id="tableSortingSwitch">
            <label class="custom-control-label" for="tableSortingSwitch"></label>
          </div>
          <span class="pr-1">Recipient</span>
        </div>
        <div id="staging-table-area" class="overflow-auto">
        </div>
        <%= render partial: 'progress_bar' %>
      </div>
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="send-request">Send</button>
      </div>
    </div>
  </div>
</div>