<div class="template-entry">
    <label for="<%=id%>">
        <div class="template-entry-content">
            <input type="checkbox" name="<%=id%>" id="<%=id%>">
            <div><%=id%></div>
        </div>
    </label>
    <div class="template-controls">
        <div class="template-control-edit template-control normalized-transition">Edit</div>
        <div class="template-control-delete template-control normalized-transition">Delete</div>
    </div>
</div>