<div class="mails-main">
    <div class="message-control">
        <div class="static">
            <label for="">Recipients</label>
            <label for="">Sender</label>
            <button class="send-btn">Send (icon)</button>
        </div>
        <div class="vars">
            This div should scroll if list is too big
            <label for="var1">var1</label>
            <input type="text" name="var1" id="var1">
            <label for="var1">var2</label>
            <input type="text" name="var1" id="var1">
            <label for="var1">var3</label>
            <input type="text" name="var1" id="var1">
            <label for="var1">var4</label>
            <input type="text" name="var1" id="var1">
        </div>
    </div>
    <div class="message-content">
        <div class="mail-topic">
            <span>
                TOPIC
            </span>
        </div>
        <div class="mail-text">
            Long text going all the way to the bottom of the page, slightly lighter bg than surroundings
        </div>
    </div>
    <div class="templates">
        <span>
            TEMPLATES
        </span>
        list with checkboxes, should scroll if too long, maybe a form?
        <div class="template-list">
            <input type="checkbox" name="t1" id="t1">
            <label for="t1">Template1</label>
            <input type="checkbox" name="t1" id="t1">
            <label for="t1">Template2</label>
            <input type="checkbox" name="t1" id="t1">
            <label for="t1">Template3</label>
            <input type="checkbox" name="t1" id="t1">
            <label for="t1">Template4</label>
        </div>
    </div>
</div>