<div class="row">
  <div class="col-sm">
    <h5 class="text-center">Tags in use</h5>
    <div id="selectedTags">
      <%= render partial: 'itemtags/tag_list', locals: {tags: @template_tags, associated: true } %>
    </div>
  </div>
  <div class="col-sm">
    <h5 class="text-center">Available tags</h5>
    <div id="availableTags">
      <%= render partial: 'itemtags/tag_list', locals: {tags: @available_tags, associated: false } %>
    </div>
  </div>
</div>
