<ul class="list-group">
    <% tags.each do |tag| %>
        <li class="list-group-item d-flex justify-content-between" data-tag="<%= tag.name %>">
            <%= tag.display_name %>
            <a href=<%= edit_template_itemtag_path(@template, tag) %> class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </a>
            <div class="btn btn-primary" data-tag-action="selector">-</div>
        </li>
    <% end %>
</ul>