<div class="alert-info p-4">
    Welcome to the preview version of the application. Some functionality is disabled or may not work as intended. <br>
    This is because app was designed to work in intranet network being backed with data from LDAP. <br>
    Read more on <a href="https://github.com/ttzv-training-repos/item">Github repository page.</a>
</div>