<h1>Upcoming mask editing ui</h1>

<%= form_with(model: @tag_custom_mask, url: template_itemtag_tag_custom_mask_path, data:{remote: false}) do |tcm| %>
    <%= tcm.label :value %>
    <%= tcm.text_area :value %>
    <%= tcm.submit %>
<% end %>