/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, .container-fluid{
     height: 100%;
 }

 ::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .main-content-wrapper{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
} */

.full-app-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-header{
    flex: 0 1 auto;
}

.app-main{
    flex: 1 1 auto;
    overflow-x: hidden;
}


