*{
  box-sizing: border-box;
}

/* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    background-color: #aaa;
  }

/* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  /* side column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    order: 2;
  }
  
  /* Master column */
  .master {
    flex: 70%;
    background-color: white;
    padding: 20px;
    order: 1;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 70%;
    height: 600px;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 992px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }