// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body{
    height: 100%; //3% is navbar
    overflow: hidden;
}

 .dropdown-menu{
     max-height: 50vh;
     overflow-y: auto;
 }

 .profile-img{
     border-radius: 50%;
     height: 40px;
     width: 40px;
 }

 .btn{
     cursor: default!important;
 }

 textarea{
     max-height: 40vh;
     min-height: 20vh;
     height: fit-content;
 }

 .holidays-nav{
     color: yellow!important;
 }

 .scrollable-custom{
     height: 100%;
     overflow: scroll;
     padding-bottom: 7rem;
     margin-right: -15px;
 }

