.mainRow{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    padding: 10px;
    background-color: #cfcfcf;
}

.mainRow .rColumn{
    flex: 60%;
    background-color: #f1f1f1;
}

.mainRow .lColumn{
    flex: 40%;
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .mainRow {   
      flex-direction: column;
    }
  }