// Place all the styles related to the mails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tmsg-left-panel{
    background-color:#ffffff;
    border-left: 1px solid #ced4da;
}

.tmsg-center{
    background-color:#ffffff;
    -webkit-box-shadow: inset 2px 0px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 0px 25px -11px rgba(0,0,0,0.75);
    box-shadow: inset 2px 0px 25px -11px rgba(0,0,0,0.75);
}

.tmsg-content{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow: auto;
    max-height: 70vh;
}

.card-header.tmsg{
    background-color: #e9ecef;
}

.tmsg-right-panel{
    background-color: #ffffff;
    border-right: 1px solid #ced4da;
}

.tmsg-list{
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.t-entry{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: all 0.2s ease-in-out;
}

.t-entry-controls{
    font-size: 1.2rem;
}

.t-entry:hover{
    background-color: dodgerblue;
    transform: scale(1.015);
    color: white;
}

.t-entry-edit{
    transition: all 0.2s ease-in-out ;
    border-radius: .25rem;
    text-align: center;
    color:black;
}

.t-entry-edit:hover{
    background-color: green;
    color: white;
}

.t-entry-delete{
    transition: all 0.2s ease-in-out ;
    border-radius: .25rem;
    text-align: center;
    color:black;
}

.t-entry-delete:hover{
    background-color: red;
    color: white;
}

/* INPUT STYLING */
$primary: #007bff;
$secondary: #ffffff;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: #666666;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  border: 0;
  width: auto;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* INPUT STYLING */


itemtag-mail-login{
    background-color: lightgrey;
}

itemtag-mail-password{
    background-color: lightgrey;
}

.debug-border{
    border: 1px solid red;
}

/* ENTRIES checkbox STYLING */
$green:#00a128;
.cbx {
    -webkit-perspective: 20;
    perspective: 20;
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease;
    margin-bottom: 0;
  }
  .cbx:hover {
    border-color: #0b76ef;
  }
  .flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .t-cbx {
    display: none;
  }
  .t-cbx:checked + .cbx {
    border-color: $green;
  }
  .t-cbx:checked + .cbx .flip {
    transform: rotateY(180deg);
  }
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  .front {
    background: #fff;
    z-index: 1;
  }
  .back {
    transform: rotateY(180deg);
    background: $green;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px $green;
  }
  .back svg {
    fill: none;
    margin-bottom: 3px;
  }
  .back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  /* ENTRIES checkbox STYLING END */

