// Place all the styles related to the mails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mailing-page-content{
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 89vh;
}

.send-btn{
    height: 40px;
    width: 40px;
}

.message-control{
    height: 99%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.message-control .static{
    height: 20%;
}

.variables{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color:rgb(184, 184, 184);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
}

.mails-main{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.message-content{
    height: 100%;
    box-sizing: border-box;
}

.sub-fcn-block{
    height: 100%;
    padding: 10px;
    border:5px solid rgb(184, 184, 184);
}

.sub-fcn-block-title{
    border: 2px solid rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
/* INPUT STYLING */
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  //width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

/* INPUT STYLING */

.mail-text{
    background-color: whitesmoke;
    padding: 2%;
    height: 96%;
    border: groove;
    overflow-y: auto;
}

.template-list{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
}

.template-entry{
    display: inline;
    margin-bottom: 5px;
    border: 1px solid rgb(184, 184, 184);
    width: 100%;
}

.template-entry-content{
    display: flex;
    padding: 5px;
}

.template-entry-content:hover{
    cursor: pointer;
}

.template-controls{
    display: flex;
    flex-direction: row;
}

.template-control-edit{
    width: 80%;
    text-align: center;
    border: 1px solid green;
    background-color: rgb(3, 250, 3);
    opacity: 50%;
}

.template-control-delete{
    width: 20%;
    text-align: center;
    border: 1px solid red;
    background-color: rgb(255, 125, 125);
    opacity: 50%;
}

.template-control:hover{
    opacity: 100%;
    cursor: pointer;
}

.normalized-transition{
    transition: all ease-in-out, 0.25s;
}


.flex-center-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.templates-footer{
    height: 10%;
    background-color: rgb(184, 184, 184);
    justify-content: flex-start;
    padding: 5px;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.full-hw{
    height: 100%;
    width: 100%;
}

.templates-footer-controls{
    flex-grow: 1;
    justify-content: space-evenly;
    width: 100%;
}

.normalized-button{
    border: 1px solid black;
    margin: 2px;
    opacity: 50%;
}

.normalized-button:hover{
    opacity: 100%;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

itemtag-mail-login{
    background-color: lightgrey;
}

itemtag-mail-password{
    background-color: lightgrey;
}

