

  .sidenav {
    display: flex;
    height: 100%; 
    width: 25%;
    left: -23%;
    position: fixed;
    z-index: 1;
    top: 49px;
    color: rgb(114, 114, 114);
    background-color: #333;
    transition: 0.5s;
    font-size: 10px;
  }
  
  .sidenav .left{
    flex-direction: column;
    flex: 90%;
    height: 100%;
    padding-top: 10px;
    padding: 20px;
    overflow: auto;
  }

  .sidenav .right{
    flex: 5%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #4CAF50;
    transition: 0.3s;
  }
  

   .right .sidebtn {
    font-size: 200%;
    color: #4CAF50;  
  }


  .sidenav .right:hover{
    background-color: #666666;
  }

  .sidenav .search{
    flex-direction: row;
    cursor: pointer;
  }

  .left .search .text{
    background-color: white;
    width: 70%
  }

  .left  .search .searchBtn{
    background-color: #4CAF50;
    border-radius: 0 5px 5px 0;
    cursor: pointer; 
  }

  .sidenav .table{
    justify-content: center;
  }
  
  .openSidenav{
    display: none;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid darkgreen;
    order: 0;
    background-color: #4CAF50;
    justify-content: center;
    align-items: center;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    margin-left: 2%;

  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    
  }

  @media screen and (max-width: 1200px) {
    
    .openSidenav{
      display: flex;
      
    }
    #main{
      margin-left: 0;
    }
  }
